In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('datasets/IllinoisStudentsByCurriculum.csv',dtype=str)
df = df.fillna('0')

def handle_x(x):
    try:
        return np.int32(x.replace(",", ""))
    except:
        return 0

df['Total'] = df['Total'].apply(lambda x: handle_x(x))

In [16]:
df.head()

,Fall,Term Code,College,Department,Degree,Major Code,Major Name,Concentration Code,Concentration Name,Total,...,All African American,All Native American,All Hawaiian/ Pac Isl,All Asian,Illinois,Non-Illinois,Academic Program Code,Legacy Advising Code,Legacy Department Code,Legacy Major Name
0,1981,0,Business,0,0,0,Accountancy,0,0,1433,...,0,0,0,0,"1,401",32,0,1705,1705,ACCOUNT
1,1981,0,Business,0,0,0,Accountancy,0,0,172,...,0,0,0,0,108,64,0,1705,1705,ACCOUNT
2,1982,0,Business,0,0,0,Accountancy,0,0,1408,...,0,0,0,0,"1,382",26,0,1705,1705,ACCOUNT
3,1982,0,Business,0,0,0,Accountancy,0,0,146,...,0,0,0,0,91,55,0,1705,1705,ACCOUNT
4,1983,0,Business,0,0,0,Accountancy,0,0,1392,...,0,0,0,0,"1,361",31,0,1705,1705,ACCOUNT